.btn {
    padding: 8px 14px;
    border-radius: 0;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-ghost {
    background: transparent;
    color: black;
}

.btn-nav-page{
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--button);
    font-weight: 600;
    font-size: 12px;
    padding: 6px 10px;
}

.btn-nav-page:hover{
    background-color: #fff7f3;
    border-color: #ffd4c2;
    opacity: 1;
}
