:root {
  --text: #101828;
  --text-h: #101828;
  --bg: #f4f6f8;
  --border: #d0d5dd;
  --sans: Arial, sans-serif;
  --heading: Arial, sans-serif;

  font: 16px/145% var(--sans);
  letter-spacing: 0;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #f4f6f8;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 32px;
  letter-spacing: -0.03em;
  margin: 0;
}
h2 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}
p {
  margin: 0;
}
